// Base colors
$base-color: #080707;
$base-white: #f2eded;

// Border colors
$border-dark: #c4c0c0;
$border-red: #fc2828;

// Text hover
$hover-blue: #d2eaf7;

// Text selected
$text-light-red: #f7b9b0;
$text-title: #c8417e;
