.header {
  position: fixed;
  left: 150px;
  top: 0;
  width: calc(100vw - 150px);
  height: 80px;

  &__contents {
    display: flex;
    height: 100%;
    margin: 0 20px;
    align-items: center;
    justify-content: space-between;
    color: white;

    &--navigation {
      ul {
        display: flex;
        list-style: none;

        li {
          margin-left: 30px;
        }
      }
    }
  }
}
